.App {
  text-align: center;
  padding-bottom: 3rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-container {
  display: flex;
}

.left {
  width: 500px;
  padding: 2rem 1rem 0rem 2rem;
}

.right {
  width: calc(100% - 500px);
  padding: 2rem 2rem 0rem 1rem;
}

.right img {
  width: 100%;
  height: auto;
  /* object-fit: cover; */
  max-height: 620px;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.item img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.item img:hover {
  opacity: 0.8;
}

.icon {
  position: absolute;
  top: 160px;
  margin-left: 10px;
}

/* .icon-hover {
  width: 80px;
  height: 80px;
  position: absolute;
  background-color: #00000050;
  opacity: 1;
  z-index: 22;
  border-radius: 50px;
  opacity: 0;
} */

/* .icon-hover:hover {
  opacity: 1;
} */

.title {
  font-size: 2.5em;
  color: #333;
  font-weight: 700;
  text-align: left;
}

.section-title {
  font-size: 2em;
  color: #333;
  font-weight: 600;
  text-align: left; 
}

.close:hover {
  opacity: 0.8;
}

.header {
  display: grid;
  padding: 2rem 2rem 2rem 2rem;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0px 1px 2px #00000030;
  align-items: center;
  background-color: #fff;
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-label-value-container {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.header-label-value {
  display: flex;
  flex-direction: column;
}

.header-label {
  font-size: 1.3em;
  color: #333;
  font-weight: 600;
  padding-bottom: 0.4rem;
}

.header-value {
  font-size: 1.1em;
  color: #555;
  font-weight: 500;
  padding-bottom: 0rem;
}

.price {
  font-size: 2em;
  color: #333;
  font-weight: 700;
}

.stage-btn {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  background-color: #fafafa;
  box-shadow: 0px 1px 2px #00000030;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 6px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #333;
}

.stage-btn:hover {
  background-color: #ddd;
}

.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 14px 0px;
}

.address {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}